.app {
    /*display: none;*/
}

[class*="span"] {
    float: right;
    min-height: 1px;
    margin-right: 20px;
    margin-left:0;
}

nav.main button {
    width:100%;
}

.page {
}

body>.forms {
    display: none;
}
tr .route {
    width: 50px;
}
tr .route input{
    width: 50px;
}

.table td {
    text-align: right;
}

.table th {
    text-align: right;
}

form input[type=text], form input[type=number], form input[type=email], form input {
    height: 30px;
}
input[type=text], input[type=number], input[type=email], input {
    height: 30px;
    width: 130px;
}

input[type=number] {
    width:58px;
}
.page button {
    display: inline-block;
}

section, nav {
    display: block;
}

nav.main {
    display: none;
}

section.main {
    padding: 50px;
}

@media print {
    button, .button {
        display: none;
    }
}

tbody {
    counter-reset: td-counter;
}

td {
    padding:3px;
}

td:first-child:before {
    counter-increment: td-counter;
    content: counter(td-counter) ".";
    display: block;
    position: absolute;
    margin-right: -35px;
    font-size: 0.9em;
}

td:first-child {
    border-right: 1px solid #aaa;
}

form .cell {
    display: inline-block;
    padding: 5px 10px;
    min-width:130px;
}

select {
    margin:0;
}